[package]
name = "serpyco-rs"
version = "1.11.0"
edition = "2021"
homepage = "https://github.com/ermakov-oleg/serpyco-rs"
repository = "https://github.com/ermakov-oleg/serpyco-rs"

[lib]
name = "serpyco_rs"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.22.4", features = ["extension-module", "py-clone"] }
pyo3-ffi = "0.22.2"
cfg-if = "*"
speedate = "0.14.4"

dyn-clone = "1.0"
atomic_refcell = "0.1.13"

uuid = "1"

[build-dependencies]
pyo3-build-config = { version = "0.22.2", features = ["resolve-config"] }

[profile.release]
codegen-units = 1
lto = "on"
