[package]
name = "serpyco-rs"
version = "0.5.0"
edition = "2021"
homepage = "https://github.com/ermakov-oleg/serpyco-rs"
repository = "https://github.com/ermakov-oleg/serpyco-rs"

[package.metadata.maturin]
python-source = "python"
name = "serpyco_rs._serpyco_rs"

[lib]
name = "serpyco_rs"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.17.2", features = ["extension-module"] }
pyo3-ffi = "*"
cfg-if = "*"
chrono = { version = "*"}

dyn-clone = "1.0"
atomic_refcell = "0.1.9"

[build-dependencies]
pyo3-build-config = { version = "0.17.2", features = ["resolve-config"] }
